In [1]:
2+5

7

In [2]:
2+2

4

In [3]:
print("Hello World")

Hello World

In [4]:
23+9

32

### Simple Expressions in Python

#### Arithemetic Operators

In [7]:
8+7

15

In [8]:
10-2

8

In [9]:
12*9

108

In [10]:
15/4

3.75

In [11]:
15//4

3

In [12]:
122/10

12.2

In [13]:
-122//10

-13

In [14]:
130%11 ##Remainder

9

In [15]:
2**3 # Power (Exponential)

8

In [16]:
x = -176//10

In [17]:
x

-18

#### String Operators

In [19]:
print("Hello World")

Hello World

In [20]:
Greeting = "Hello world"

In [21]:
print(Greeting)

Hello world

In [22]:
"Good Evening" + " to all of You" # Concatenation

'Good Evening to all of You'

In [23]:
"Good" + " " + "Evening" + " " + "to all of You!!"

'Good Evening to all of You!!'

In [24]:
print(" Good Evening\n" * 3)

 Good Evening
 Good Evening
 Good Evening

#### Comparision

In [26]:
5 == 5 # Is 5 equal to 5

True

In [27]:
4 != 5

True

In [28]:
5 > 3

True

In [29]:
5 < 3

False

In [30]:
5 >= 5 # is 5 greater than or equal to 5.

True

#### Variables

In [32]:
age = 40
age

40

In [33]:
age + 3 * 4

52

In [34]:
Name = "Priya"

In [35]:
Greet = "Hi {}".format(Name)

In [36]:
print(Greet)

Hi Priya

In [37]:
a = 5
b = 3
c = a - b
print(c)

2

In [38]:
Name = input()

 Saurabh

In [39]:
Age = input()

 33

In [40]:
Info = print('Your Name is {} and you are {} years old'.format(Name,Age))

Your Name is Saurabh and you are 33 years old

In [41]:
Name = input()
Age = input()
Info = print('Your Name is {} and you are {} years old'.format(Name,Age))

 Saurabh
 44

Your Name is Saurabh and you are 44 years old

## Data Structures

In [43]:
## List, Tuple, Dictionaries, Set

##### List

In [45]:
list = [1,2,3,4,5]

In [46]:
list

[1, 2, 3, 4, 5]

In [47]:
Fruits = ['apple','banana','orange','grapes']

In [48]:
Comb = ['apple',24,'banana',22,13,'grapes']

In [49]:
Comb

['apple', 24, 'banana', 22, 13, 'grapes']

In [50]:
print(Comb[2])

banana

In [51]:
Comb[0:2]

['apple', 24]

In [52]:
ListofList = [[1,2],['apple','banana'],['x','y','z']] # Nested List

In [53]:
print(ListofList[1][1])

banana

#### List Operators (Build in)

In [55]:
Comb.append('mango') ## Adds an elenment at the end

In [56]:
Comb

['apple', 24, 'banana', 22, 13, 'grapes', 'mango']

In [57]:
Comb.insert(2,'blueberry') ## Adds an element at specified index

In [58]:
Comb

['apple', 24, 'blueberry', 'banana', 22, 13, 'grapes', 'mango']

In [59]:
Comb.remove(13) ## Removed the element

In [60]:
Comb

['apple', 24, 'blueberry', 'banana', 22, 'grapes', 'mango']

In [61]:
Comb.pop() ## Removes the last element and displays the same as output

'mango'

In [62]:
Comb.append(['grapes','mango'])

In [63]:
Comb.pop()

['grapes', 'mango']

In [64]:
Comb.append('grapes')
Comb.append('mango')

In [65]:
Comb

['apple', 24, 'blueberry', 'banana', 22, 'grapes', 'grapes', 'mango']

In [66]:
Comb.append(13)

In [67]:
Comb.append(13)

In [68]:
Comb

['apple', 24, 'blueberry', 'banana', 22, 'grapes', 'grapes', 'mango', 13, 13]

In [69]:
Comb.remove(13)

In [70]:
Comb

['apple', 24, 'blueberry', 'banana', 22, 'grapes', 'grapes', 'mango', 13]

In [71]:
Comb.append(13)
Comb.insert(3,13)

In [72]:
Comb

['apple',
 24,
 'blueberry',
 13,
 'banana',
 22,
 'grapes',
 'grapes',
 'mango',
 13,
 13]

In [73]:
Comb.remove(13)

In [74]:
Comb

['apple', 24, 'blueberry', 'banana', 22, 'grapes', 'grapes', 'mango', 13, 13]

In [75]:
Comb.clear() ## Deletes all elements in the list

In [76]:
Comb

[]

In [77]:
Comb = ['apple',24,'banana',22,13,'grapes']

In [78]:
Comb

['apple', 24, 'banana', 22, 13, 'grapes']

In [79]:
len(Comb) # Number of elements in the list

6

In [80]:
Comb[-2]

13

##### List Concatenation

In [82]:
print(Comb)
print(list)

['apple', 24, 'banana', 22, 13, 'grapes']
[1, 2, 3, 4, 5]

In [83]:
Merge = Comb + list

In [84]:
Merge_2 = list + Comb

In [85]:
print(Merge)
Merge_2

['apple', 24, 'banana', 22, 13, 'grapes', 1, 2, 3, 4, 5]

[1, 2, 3, 4, 5, 'apple', 24, 'banana', 22, 13, 'grapes']

In [86]:
Merge.count(13)  ## Count of a specific element

1

### Tuples

In [88]:
tuple = (1,5,9)

In [89]:
tuple

(1, 5, 9)

In [90]:
# Indexing, Build in Methods - Change the elements

In [91]:
Fruits = ('apple','banana','orange','grapes')

In [92]:
Fruits

('apple', 'banana', 'orange', 'grapes')

In [93]:
Fruits[0]

'apple'

In [94]:
Fruits[0:2]

('apple', 'banana')

In [95]:
print(Fruits[-1])

grapes

In [96]:
Mer_tuple = Fruits + tuple # Concatenation of Tuple

In [97]:
print(Mer_tuple[2])

orange

In [98]:
print(Mer_tuple)

('apple', 'banana', 'orange', 'grapes', 1, 5, 9)

In [99]:
repeated_tuple = Mer_tuple * 3
repeated_tuple

('apple',
 'banana',
 'orange',
 'grapes',
 1,
 5,
 9,
 'apple',
 'banana',
 'orange',
 'grapes',
 1,
 5,
 9,
 'apple',
 'banana',
 'orange',
 'grapes',
 1,
 5,
 9)

In [100]:
len(repeated_tuple) # Number of elements in the tuple

21

In [101]:
repeated_tuple.count('grape')  ## Count of a specific element

0

In [102]:
sum(tuple)

15

In [103]:
Nested_tuple = (1,2,(4,5),(6,7))

In [104]:
Nested_tuple

(1, 2, (4, 5), (6, 7))

In [105]:
Nested_tuple[2][1]

5

In [106]:
sum(Nested_tuple[3])

13

## Dictionaries

In [108]:
Saurabh_info = {'Name':'Saurabh','age':30,'city':'Bangalore','Experience' : 12}

In [109]:
Saurabh_info

{'Name': 'Saurabh', 'age': 30, 'city': 'Bangalore', 'Experience': 12}

In [110]:
Saurabh_info.keys()

dict_keys(['Name', 'age', 'city', 'Experience'])

In [111]:
Saurabh_info.values()

dict_values(['Saurabh', 30, 'Bangalore', 12])

In [112]:
Saurabh_info['city']

'Bangalore'

In [113]:
Saurabh_info['Experience']

12

#### Dictionary Methods

In [115]:
Saurabh_info.pop('Experience') # Removes the specified element in the command

12

In [116]:
Saurabh_info

{'Name': 'Saurabh', 'age': 30, 'city': 'Bangalore'}

In [117]:
Saurabh_info['Experience'] = 12

In [118]:
Saurabh_info

{'Name': 'Saurabh', 'age': 30, 'city': 'Bangalore', 'Experience': 12}

In [119]:
Saurabh_info.items() # Displays all Key Value Pair

dict_items([('Name', 'Saurabh'), ('age', 30), ('city', 'Bangalore'), ('Experience', 12)])

In [120]:
Saurabh_info.update({'Experience':14})

In [121]:
Saurabh_info

{'Name': 'Saurabh', 'age': 30, 'city': 'Bangalore', 'Experience': 14}

In [122]:
Copy = Saurabh_info.copy()

In [123]:
Copy

{'Name': 'Saurabh', 'age': 30, 'city': 'Bangalore', 'Experience': 14}

In [124]:
Saurabh_info['Experience'] = 13

In [125]:
Saurabh_info

{'Name': 'Saurabh', 'age': 30, 'city': 'Bangalore', 'Experience': 13}

In [126]:
Saurabh_info.clear()

In [127]:
Saurabh_info

{}

In [128]:
Saurabh_info = {'Name':'Saurabh','age':30,'city':'Bangalore','Experience' : 12}

In [129]:
Saurabh_info

{'Name': 'Saurabh', 'age': 30, 'city': 'Bangalore', 'Experience': 12}

#### Nested Dictionaries

In [131]:
Employee_info = {'EM2403': 
                 {'name': 'Alice',
                    'age': 30,
                    'city': 'New York'},
                'EM2409': {
                    'name': 'Bob',
                    'age': 25,
                    'city': 'San Francisco'
                },
                'EM2390': {
                    'name': 'Charlie',
                    'age': 35,
                    'city': 'Seattle'
                },
                'EM2399': {
                    'name': 'Subhash',
                    'age': 35,
                    'city': 'Washington'
                }
            }

In [132]:
Employee_info

{'EM2403': {'name': 'Alice', 'age': 30, 'city': 'New York'},
 'EM2409': {'name': 'Bob', 'age': 25, 'city': 'San Francisco'},
 'EM2390': {'name': 'Charlie', 'age': 35, 'city': 'Seattle'},
 'EM2399': {'name': 'Subhash', 'age': 35, 'city': 'Washington'}}

In [133]:
print(Employee_info['EM2390']['name'])

Charlie

In [134]:
Employee_info['EM2399'].update({'city': 'Mumbai'})

In [135]:
Employee_info

{'EM2403': {'name': 'Alice', 'age': 30, 'city': 'New York'},
 'EM2409': {'name': 'Bob', 'age': 25, 'city': 'San Francisco'},
 'EM2390': {'name': 'Charlie', 'age': 35, 'city': 'Seattle'},
 'EM2399': {'name': 'Subhash', 'age': 35, 'city': 'Mumbai'}}

## Sets

#### Creating Sets

In [138]:
Set_1 = {1,3,5,7,9}

In [139]:
Set_1.add(11) # Adds the element towards the end

In [140]:
Set_1

{1, 3, 5, 7, 9, 11}

In [141]:
Set_2 = {2,1,3,1,4,2,4,5,1,2,3,4,5}

In [142]:
Set_2

{1, 2, 3, 4, 5}

In [143]:
Set_1.add('Hello')

In [144]:
Set_1

{1, 11, 3, 5, 7, 9, 'Hello'}

In [145]:
Mul_of_3 = {3,6,9,12,15}
Mul_of_4 = {4,8,12,16,20}

#### Union

In [147]:
Mul_of_3

{3, 6, 9, 12, 15}

In [148]:
Mul_of_4

{4, 8, 12, 16, 20}

In [149]:
Combined = Mul_of_3.union(Mul_of_4)

In [150]:
Combined

{3, 4, 6, 8, 9, 12, 15, 16, 20}

In [151]:
Mul_of_4.union(Mul_of_3)

{3, 4, 6, 8, 9, 12, 15, 16, 20}

#### Intersection

In [153]:
Common = Mul_of_3.intersection(Mul_of_4)

In [154]:
Common

{12}

In [155]:
Mul_of_4

{4, 8, 12, 16, 20}

In [156]:
Mul_of_4.intersection_update(Mul_of_4)

In [157]:
Mul_of_4

{4, 8, 12, 16, 20}

##### Difference

In [159]:
print(Mul_of_3)
print(Mul_of_4)

{3, 6, 9, 12, 15}
{16, 4, 20, 8, 12}

In [160]:
diff = Mul_of_3 - Mul_of_4

In [161]:
diff

{3, 6, 9, 15}

In [162]:
Mul_of_4-Mul_of_3

{4, 8, 16, 20}

In [163]:
print(Mul_of_3)
print(Mul_of_4)

{3, 6, 9, 12, 15}
{16, 4, 20, 8, 12}

In [164]:
Diffset = Mul_of_3.difference(Mul_of_4)

In [165]:
Diffset

{3, 6, 9, 15}

In [166]:
Mul_of_3

{3, 6, 9, 12, 15}

In [167]:
Mul_of_3.difference_update(Mul_of_4)

In [168]:
Mul_of_3

{3, 6, 9, 15}

#### Symmetric Difference

In [170]:
Mul_of_3.symmetric_difference(Mul_of_4)

{3, 4, 6, 8, 9, 12, 15, 16, 20}

In [171]:
Mul_of_3.symmetric_difference_update(Mul_of_4)

In [172]:
Mul_of_3

{3, 4, 6, 8, 9, 12, 15, 16, 20}

In [173]:
Mul_of_3.remove(8)

In [174]:
Mul_of_3

{3, 4, 6, 9, 12, 15, 16, 20}

In [175]:
Mul_of_4

{4, 8, 12, 16, 20}

In [176]:
Mul_of_4.remove(8)

#### Conditional Statements

If, Else, If Else

In [178]:
x = int(input('Enter the Number'))
if x > 2:
    print('The given number is Greater than 2')

Enter the Number 22

The given number is Greater than 2

In [179]:
x = int(input('Enter the Number'))
if x % 2 == 0:
    print('The given number is Even')
else:
    print('The given number is Odd')

Enter the Number 22

The given number is Even

In [180]:
x = int(input('Enter the Number'))
if x % 3 == 0:
    print('The given number is a Multiple of 3')
elif x % 4 == 0:
    print('The given number is a Multiple of 4')
elif x % 5 == 0:
    print('The given number is a Multiple of 5')
else:
    print('The given number is not a Multiple of any one of 3,4 or 5')

Enter the Number 2

The given number is not a Multiple of any one of 3,4 or 5

### Loops

In [182]:
## for, while

In [183]:
for i in Mul_of_3:
    print(i+3)

6
7
9
12
15
18
19
23

In [184]:
for i in Fruits:
    print(i)

apple
banana
orange
grapes

In [185]:
for i in range(1,10):
    print('The Square of {} is {}'.format(i,i**2))

The Square of 1 is 1
The Square of 2 is 4
The Square of 3 is 9
The Square of 4 is 16
The Square of 5 is 25
The Square of 6 is 36
The Square of 7 is 49
The Square of 8 is 64
The Square of 9 is 81

##### While loop

In [187]:
i = 0
while i <= 10:
    print(i)
    i = i + 1

0
1
2
3
4
5
6
7
8
9
10

List

###### List Comprehension

In [189]:
M3 = [1,2,3,4,5,6,7,8,9]

In [190]:
M3Squres = [x**2 for x in M3]

In [191]:
M3Squres

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [192]:
Even = [x for x in M3 if x%2 == 0]

In [193]:
Even

[2, 4, 6, 8]

In [194]:
Odd = [x for x in M3 if x%2 != 0]

In [195]:
Odd

[1, 3, 5, 7, 9]

In [196]:
First20 = [x for x in range(1,21)]

In [197]:
First20

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [198]:
Cubes = {'The cube of {} is'.format(x):x**3 for x in Mul_of_3}

In [199]:
Cubes

{'The cube of 3 is': 27,
 'The cube of 4 is': 64,
 'The cube of 6 is': 216,
 'The cube of 9 is': 729,
 'The cube of 12 is': 1728,
 'The cube of 15 is': 3375,
 'The cube of 16 is': 4096,
 'The cube of 20 is': 8000}

In [200]:
SquareCubes = {'Number is {}'.format(x):{'Its Square is {}'.format(x**2),'Its Cube is {}'.format(x**3)} for x in Mul_of_4}

In [201]:
SquareCubes

{'Number is 16': {'Its Cube is 4096', 'Its Square is 256'},
 'Number is 4': {'Its Cube is 64', 'Its Square is 16'},
 'Number is 20': {'Its Cube is 8000', 'Its Square is 400'},
 'Number is 12': {'Its Cube is 1728', 'Its Square is 144'}}

### Loops in python

#### Nested Loop

In [204]:
Num = int(input("Enter your number"))

for i in range(2,Num):
    if Num == 1:
        print("The number is Neither Prime nor Composite")
    elif Num == 2:
        print("The Number is Prime")
    elif Num % i == 0:
        print("The number is Composite")
        break
    else: 
        print("The Number is Prime")
        break

Enter your number 2

In [205]:
x = int(input("Enter your number"))

for i in range(4,x):
    if Num % i == 0:
        print("The number is Composite")
        break
    else: 
        print("The Number is Prime")
        break

Enter your number 2

In [206]:
x = int(input('Enter a number'))
i = 1
a = 0

while i <= x:
    j = 1
    while j <= x:
        if i % j == 0:
            a += 1
        j += 1
   
    if a == 2:  
        print(i, 'is a prime number')
   
    i += 1
    a = 0

Enter a number 2

2 is a prime number

In [207]:
x = int(input("Enter the number:"))

for i in range(1,x):
    if x == 1:
        print("Number is neither prime nor composite")
        break
    elif x == 2:
        print("Number is prime")
        break
    elif x == 3:
        print("Number is prime")
        break
    if x % i ==0:
        print("The number is composite")
        break
    else:
        print("The number is prime")
        break

Enter the number: 2

Number is prime

In [208]:
for i in range(1,11):
    print("The table of {}".format(i))
    for j in range (1,11):
        print("{} x {} = {}".format(i,j,i*j))
    print()

The table of 1
1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
1 x 4 = 4
1 x 5 = 5
1 x 6 = 6
1 x 7 = 7
1 x 8 = 8
1 x 9 = 9
1 x 10 = 10

The table of 2
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20

The table of 3
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30

The table of 4
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40

The table of 5
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

The table of 6
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
6 x 10 = 60

The table of 7
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70

The table of 8
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
8 x 10 = 80

The table of 9
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81
9 x 10 = 90

The table of 10
10 x 1 = 10
10 x 2 = 20
10 x 3 = 30
10 x 4 = 40
10 x 5 = 50
10 x 6 = 60
10 x 7 = 70
10 x 8 = 80
10 x 9 = 90
10 x 10 = 100

##### Break

In [210]:
list = [x for x in range(1,100) if x % 3 == 0]

In [211]:
for i in range(1,100):
    if i == 23:
        break  # Breaks the code once the objective is achieved
    print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22

##### Continue

In [213]:
for i in list:
    if i % 5 == 0 or i % 7 == 0:
        continue      # It Skips the i's which follow the condition mentioned
    print(i)

3
6
9
12
18
24
27
33
36
39
48
51
54
57
66
69
72
78
81
87
93
96
99

##### Pass

In [215]:
for i in range(1,100):
    for j in range(1,50):
        pass               # Implement the logic later
print('The code is incomplete')

The code is incomplete

### Def Function

In [217]:
def sumproduct(a,b):
    return 2*a + 3*b

In [218]:
sumproduct(3,9)

33

In [219]:
def sumsquares(a,b):
    x = a**2
    y = b**2
    z = x + y
    return z

In [220]:
sumsquares(10,11)

221

In [221]:
def prime_number_check(x):
    for i in range(1,x):
        if x == 1:
            print("Number is neither prime nor composite")
            break
        elif x == 2:
            print("Number is prime")
            break
        elif x == 3:
            print("Number is prime")
            break
        if x % i ==0:
            print("The number is composite")
            break
        else:
            print("The number is prime")
            break

In [222]:
prime_number_check(101)

The number is composite

In [223]:
# Numpy
# Pandas
# Matplotlib
# Seaborn
# Scipy
# Sklearn

#### Numpy

In [225]:
## pip install numpy
import numpy as np

In [226]:
arr = np.array([x for x in range(1,6)])

In [227]:
print(arr)

[1 2 3 4 5]

##### Create Arrays

In [229]:
a = np.array([[x for x in range(1,4)],[7,8,9]])

In [230]:
print(a)

[[1 2 3]
 [7 8 9]]

b = np.zeros((2,3))

In [231]:
print(b)

3

In [232]:
ones = np.ones((3,3))

In [233]:
print(ones)

[[1. 1. 1.]
 [1. 1. 1.]
 [1. 1. 1.]]

In [234]:
consecutive = np.arange(11)

In [235]:
print(consecutive)

[ 0  1  2  3  4  5  6  7  8  9 10]

Attributes

In [236]:
a.shape

(2, 3)

In [237]:
b.shape

AttributeError: 'int' object has no attribute 'shape'

In [238]:
ones.shape

(3, 3)

In [240]:
ones.ndim

2

In [242]:
ones.size

9

In [244]:
ones.dtype

dtype('float64')

In [246]:
d = np.array([[1,2],[3,4],[5,6],[7,8]])

In [ ]:
d.shape

In [ ]:
print(d)

In [ ]:
e = np.array([1,2,3,4,5,6,7,8])

In [ ]:
print(e)

In [ ]:
x = np.array([[1,2,3],[4,5,6],[7,8,9]])
y = np.array([[10,20,30],[40,50,60],[70,80,90]])

In [ ]:
print(x)
print()
print(y)

In [ ]:
print(x + y)

In [ ]:
print(y-x)

In [ ]:
print(x * y)
print()
print(y / x)

In [ ]:
np.exp(x)

In [ ]:
np.sqrt(x)

In [ ]:
angles = np.array([[30,45],[60,90],[120,180]])

In [ ]:
np.sin(angles)

In [ ]:
np.log(a)

##### Indexing and slicing

In [ ]:
a[1,2]

In [ ]:
a[1,1]

In [ ]:
bigger = np.array([[x for x in range(1,6)],
                  [x for x in range(6,11)],
                 [x for x in range(11,16)],
                 [x for x in range(16,21)],
                 [x for x in range(21,26)]])

In [ ]:
print(bigger)

In [ ]:
bigger[0:3,0:3]

In [ ]:
bigger[2:5,1:3]

In [ ]:
bigger[:,1:3]

In [ ]:
bigger[1:3,:]

## Pandas

In [248]:
import pandas as pd

##### Creating a Dataframe

In [251]:
Employee_info = {'EM2403': 
                 {'name': 'Alice',
                    'age': 30,
                    'city': 'New York'},
                'EM2409': {
                    'name': 'Bob',
                    'age': 25,
                    'city': 'San Francisco'
                },
                'EM2390': {
                    'name': 'Charlie',
                    'age': 35,
                    'city': 'Seattle'
                },
                'EM2399': {
                    'name': 'Subhash',
                    'age': 35,
                    'city': 'Washington'
                }
            }

In [253]:
Employee_info

{'EM2403': {'name': 'Alice', 'age': 30, 'city': 'New York'},
 'EM2409': {'name': 'Bob', 'age': 25, 'city': 'San Francisco'},
 'EM2390': {'name': 'Charlie', 'age': 35, 'city': 'Seattle'},
 'EM2399': {'name': 'Subhash', 'age': 35, 'city': 'Washington'}}

In [255]:
Emp_df = pd.DataFrame(Employee_info).T

In [257]:
Emp_df

           name age           city
EM2403    Alice  30       New York
EM2409      Bob  25  San Francisco
EM2390  Charlie  35        Seattle
EM2399  Subhash  35     Washington

In [259]:
Emp_data = {'Emp_id': ['EM2403','EM2409','EM2390','EM2399'],
            'Name' : ['Alice','Bob','Charlie','Subhash'],
            'Age' : [30,25,35,35],
             'City' : ['New York','San Frasisco','Seattle','Washigton']}

In [261]:
Emp_df = pd.DataFrame(Emp_data)

In [263]:
Emp_df

   Emp_id     Name  Age          City
0  EM2403    Alice   30      New York
1  EM2409      Bob   25  San Frasisco
2  EM2390  Charlie   35       Seattle
3  EM2399  Subhash   35     Washigton

In [265]:
Emp_df_Man = pd.DataFrame(data= [['EM2403','Alice','','New York'],
            ['EM2409','Bob',25,'San Fransico'],
            ['EM2390','Charlie',35,'Seattle'],
            ['EM2399','Subhash',35,'Washington']],columns = ['Emp_id','Name','Age','City'])

In [267]:
Emp_df_Man

   Emp_id     Name Age          City
0  EM2403    Alice          New York
1  EM2409      Bob  25  San Fransico
2  EM2390  Charlie  35       Seattle
3  EM2399  Subhash  35    Washington

##### Import Data

In [270]:
covid_data = pd.read_csv('us-counties.csv')

In [271]:
covid_data

               date      county       state     fips  cases  deaths
0        2020-01-21   Snohomish  Washington  53061.0      1     0.0
1        2020-01-22   Snohomish  Washington  53061.0      1     0.0
2        2020-01-23   Snohomish  Washington  53061.0      1     0.0
3        2020-01-24        Cook    Illinois  17031.0      1     0.0
4        2020-01-24   Snohomish  Washington  53061.0      1     0.0
...             ...         ...         ...      ...    ...     ...
2502827  2022-05-13  Sweetwater     Wyoming  56037.0  11088   126.0
2502828  2022-05-13       Teton     Wyoming  56039.0  10074    16.0
2502829  2022-05-13       Uinta     Wyoming  56041.0   5643    39.0
2502830  2022-05-13    Washakie     Wyoming  56043.0   2358    44.0
2502831  2022-05-13      Weston     Wyoming  56045.0   1588    18.0

[2502832 rows x 6 columns]

In [272]:
# Rename
covid_data.rename(columns={'date':'Date','county':'County','state':'State','fips':'FIPS','cases':'Cases','deaths':'Deaths'},inplace= True)

In [273]:
covid_data

               Date      County       State     FIPS  Cases  Deaths
0        2020-01-21   Snohomish  Washington  53061.0      1     0.0
1        2020-01-22   Snohomish  Washington  53061.0      1     0.0
2        2020-01-23   Snohomish  Washington  53061.0      1     0.0
3        2020-01-24        Cook    Illinois  17031.0      1     0.0
4        2020-01-24   Snohomish  Washington  53061.0      1     0.0
...             ...         ...         ...      ...    ...     ...
2502827  2022-05-13  Sweetwater     Wyoming  56037.0  11088   126.0
2502828  2022-05-13       Teton     Wyoming  56039.0  10074    16.0
2502829  2022-05-13       Uinta     Wyoming  56041.0   5643    39.0
2502830  2022-05-13    Washakie     Wyoming  56043.0   2358    44.0
2502831  2022-05-13      Weston     Wyoming  56045.0   1588    18.0

[2502832 rows x 6 columns]

In [274]:
covid_data.head()  ## Gives top n rows; default = 5

         Date     County       State     FIPS  Cases  Deaths
0  2020-01-21  Snohomish  Washington  53061.0      1     0.0
1  2020-01-22  Snohomish  Washington  53061.0      1     0.0
2  2020-01-23  Snohomish  Washington  53061.0      1     0.0
3  2020-01-24       Cook    Illinois  17031.0      1     0.0
4  2020-01-24  Snohomish  Washington  53061.0      1     0.0

In [275]:
covid_data.head(2)

         Date     County       State     FIPS  Cases  Deaths
0  2020-01-21  Snohomish  Washington  53061.0      1     0.0
1  2020-01-22  Snohomish  Washington  53061.0      1     0.0

In [281]:
covid_data.tail()  ## Gives bottom n rows; default = 5

               Date      County    State     FIPS  Cases  Deaths
2502827  2022-05-13  Sweetwater  Wyoming  56037.0  11088   126.0
2502828  2022-05-13       Teton  Wyoming  56039.0  10074    16.0
2502829  2022-05-13       Uinta  Wyoming  56041.0   5643    39.0
2502830  2022-05-13    Washakie  Wyoming  56043.0   2358    44.0
2502831  2022-05-13      Weston  Wyoming  56045.0   1588    18.0

In [284]:
covid_data.tail(3)

               Date    County    State     FIPS  Cases  Deaths
2502829  2022-05-13     Uinta  Wyoming  56041.0   5643    39.0
2502830  2022-05-13  Washakie  Wyoming  56043.0   2358    44.0
2502831  2022-05-13    Weston  Wyoming  56045.0   1588    18.0

In [286]:
covid_data = covid_data.drop('FIPS',axis=1) ## Drops a row/column

In [288]:
covid_data.head(3)

         Date     County       State  Cases  Deaths
0  2020-01-21  Snohomish  Washington      1     0.0
1  2020-01-22  Snohomish  Washington      1     0.0
2  2020-01-23  Snohomish  Washington      1     0.0

In [290]:
## Info
covid_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2502832 entries, 0 to 2502831
Data columns (total 5 columns):
 #   Column  Dtype
---  ------  -----
 0   Date    object
 1   County  object
 2   State   object
 3   Cases   int64
 4   Deaths  float64
dtypes: float64(1), int64(1), object(3)
memory usage: 95.5+ MB

##### Slicing Rows and Columns

In [293]:
covid_data[['County','Cases','Deaths']].head()

      County  Cases  Deaths
0  Snohomish      1     0.0
1  Snohomish      1     0.0
2  Snohomish      1     0.0
3       Cook      1     0.0
4  Snohomish      1     0.0

In [295]:
covid_data.County

0           Snohomish
1           Snohomish
2           Snohomish
3                Cook
4           Snohomish
              ...
2502827    Sweetwater
2502828         Teton
2502829         Uinta
2502830      Washakie
2502831        Weston
Name: County, Length: 2502832, dtype: object

In [297]:
first_10_rows = covid_data.iloc[0:5]   ## Filtering the rows

In [299]:
first_10_rows

         Date     County       State  Cases  Deaths
0  2020-01-21  Snohomish  Washington      1     0.0
1  2020-01-22  Snohomish  Washington      1     0.0
2  2020-01-23  Snohomish  Washington      1     0.0
3  2020-01-24       Cook    Illinois      1     0.0
4  2020-01-24  Snohomish  Washington      1     0.0

In [301]:
covid_data.loc[16:200]

           Date       County          State  Cases  Deaths
16   2020-01-27         Cook       Illinois      1     0.0
17   2020-01-27    Snohomish     Washington      1     0.0
18   2020-01-28     Maricopa        Arizona      1     0.0
19   2020-01-28  Los Angeles     California      1     0.0
20   2020-01-28       Orange     California      1     0.0
..          ...          ...            ...    ...     ...
196  2020-02-17         Cook       Illinois      2     0.0
197  2020-02-17      Suffolk  Massachusetts      1     0.0
198  2020-02-17      Douglas       Nebraska     10     0.0
199  2020-02-17        Bexar          Texas      2     0.0
200  2020-02-17    Snohomish     Washington      1     0.0

[185 rows x 5 columns]

#### Conditional Filtering

In [330]:
Texas_covid_data = covid_data[covid_data['State'] == 'Texas']

In [306]:
Vital_Days = covid_data[covid_data['Deaths'] > 100]

In [308]:
Vital_Days.head(2)

            Date         County     State  Cases  Deaths
7817  2020-03-22  New York City  New York   9065   119.0
9015  2020-03-23  New York City  New York  12329   155.0

In [310]:
Above_Avg_Death_Days = covid_data[covid_data['Deaths'] > covid_data['Deaths'].mean()]

In [312]:
Above_Avg_Death_Days.head(3)

             Date         County     State  Cases  Deaths
10322  2020-03-24  New York City  New York  14943   230.0
11758  2020-03-25  New York City  New York  20061   330.0
13361  2020-03-26  New York City  New York  23182   435.0

In [314]:
covid_data.sort_values(by = 'Cases',ascending = False).head(10)  ## Order the Data by a column

               Date       County       State    Cases   Deaths
2499779  2022-05-13  Los Angeles  California  2908425  32022.0
2496521  2022-05-12  Los Angeles  California  2904483  32016.0
2493263  2022-05-11  Los Angeles  California  2901153  32007.0
2490005  2022-05-10  Los Angeles  California  2898217  32000.0
2486748  2022-05-09  Los Angeles  California  2896104  31996.0
2480232  2022-05-07  Los Angeles  California  2889112  31991.0
2483490  2022-05-08  Los Angeles  California  2889112  31991.0
2476974  2022-05-06  Los Angeles  California  2889112  31991.0
2473716  2022-05-05  Los Angeles  California  2885879  31986.0
2470459  2022-05-04  Los Angeles  California  2882983  31982.0

In [315]:
covid_data[['State']].value_counts()

State
Texas                       193519
Georgia                     124889
Virginia                    103128
Kentucky                     92572
Missouri                     89600
Illinois                     79502
Kansas                       79294
North Carolina               77809
Iowa                         77070
Tennessee                    74719
Indiana                      71921
Nebraska                     69255
Ohio                         69101
Minnesota                    67883
Michigan                     65202
Mississippi                  64147
Oklahoma                     59923
Arkansas                     59032
Puerto Rico                  58397
Wisconsin                    55993
Florida                      53362
Pennsylvania                 52441
Alabama                      52312
Louisiana                    50902
South Dakota                 49552
Colorado                     49527
California                   45693
New York                     45692
West Virginia                42238
Montana                      40656
North Dakota                 40499
South Carolina               36091
Idaho                        33184
Washington                   30893
Oregon                       27784
New Mexico                   25445
Utah                         22919
Alaska                       20568
Maryland                     19645
Wyoming                      17815
New Jersey                   17417
Maine                        13097
Nevada                       12867
Arizona                      11934
Massachusetts                11914
Vermont                      11758
New Hampshire                 8612
Connecticut                   7091
Rhode Island                  4704
Hawaii                        3982
Delaware                      3131
Virgin Islands                2492
Northern Mariana Islands      1832
District of Columbia           798
Guam                           790
American Samoa                 239
Name: count, dtype: int64

In [324]:
covid_summary = round(covid_data.describe().T,0)

In [325]:
covid_summary

            count     mean      std  min    25%     50%     75%        max
Cases   2502832.0  10034.0  47525.0  0.0  382.0  1773.0  5884.0  2908425.0
Deaths  2445227.0    162.0    820.0  0.0    6.0    33.0   101.0    40267.0

In [322]:
# Shape
# Filtering using Multiple Conditions
# Adding a column
# to_datetime
# Merging/Appending Two or more Dataframes
# Grouping the Data (Equivalent to Pivoting in Excel)
# Pivoting in Python
# Duplicates
# EDA
# Clustering
# Treating Null Values and Outliers
# Ml Model Overview

###### Shape

In [342]:
covid_data.shape

(2502832, 5)

In [344]:
covid_data.shape[0]

2502832

In [346]:
covid_data.shape[1]

5

In [348]:
print("The number of rows are {}".format(covid_data.shape[0]))
print("The number of columns are {}".format(covid_data.shape[1]))

The number of rows are 2502832
The number of columns are 5

##### Filtering using Multiple Conditions

In [353]:
covid_data.head()

         Date     County       State  Cases  Deaths
0  2020-01-21  Snohomish  Washington      1     0.0
1  2020-01-22  Snohomish  Washington      1     0.0
2  2020-01-23  Snohomish  Washington      1     0.0
3  2020-01-24       Cook    Illinois      1     0.0
4  2020-01-24  Snohomish  Washington      1     0.0

In [366]:
covid_data[(covid_data['State'] == 'Washington') & (covid_data['Deaths'] >= 100)].head()

             Date County       State  Cases  Deaths
12288  2020-03-25   King  Washington   1360   101.0
13938  2020-03-26   King  Washington   1579   111.0
15706  2020-03-27   King  Washington   1830   127.0
17586  2020-03-28   King  Washington   2079   138.0
19551  2020-03-29   King  Washington   2163   146.0

##### Adding a column

In [372]:
covid_data['Month'] = pd.DatetimeIndex(covid_data['Date']).month

In [376]:
covid_data['Year'] = pd.DatetimeIndex(covid_data['Date']).year

In [378]:
covid_data.head()

         Date     County       State  Cases  Deaths  Month  Year
0  2020-01-21  Snohomish  Washington      1     0.0      1  2020
1  2020-01-22  Snohomish  Washington      1     0.0      1  2020
2  2020-01-23  Snohomish  Washington      1     0.0      1  2020
3  2020-01-24       Cook    Illinois      1     0.0      1  2020
4  2020-01-24  Snohomish  Washington      1     0.0      1  2020

In [410]:
covid_data['D/C Ratio'] = round(covid_data['Deaths'] * 100/covid_data['Cases'],3)

In [412]:
covid_data

,Date,County,State,Cases,Deaths,Month,Year,D/C Ratio
0,2020-01-21,Snohomish,Washington,1,0.0,1,2020,0.000
1,2020-01-22,Snohomish,Washington,1,0.0,1,2020,0.000
2,2020-01-23,Snohomish,Washington,1,0.0,1,2020,0.000
3,2020-01-24,Cook,Illinois,1,0.0,1,2020,0.000
4,2020-01-24,Snohomish,Washington,1,0.0,1,2020,0.000
...,...,...,...,...,...,...,...,...
2502827,2022-05-13,Sweetwater,Wyoming,11088,126.0,5,2022,1.136
2502828,2022-05-13,Teton,Wyoming,10074,16.0,5,2022,0.159
2502829,2022-05-13,Uinta,Wyoming,5643,39.0,5,2022,0.691
2502830,2022-05-13,Washakie,Wyoming,2358,44.0,5,2022,1.866
2502831,2022-05-13,Weston,Wyoming,1588,18.0,5,2022,1.134

In [416]:
covid_data[(covid_data['State'] == 'Texas') & (covid_data['D/C Ratio'] >= 10)]

               Date     County  State  Cases  Deaths  Month  Year  D/C Ratio
3148     2020-03-16  Matagorda  Texas      2     1.0      3  2020     50.000
3684     2020-03-17  Matagorda  Texas      2     1.0      3  2020     50.000
4308     2020-03-18  Matagorda  Texas      2     1.0      3  2020     50.000
5063     2020-03-19  Matagorda  Texas      3     1.0      3  2020     33.333
5956     2020-03-20  Matagorda  Texas      3     1.0      3  2020     33.333
...             ...        ...    ...    ...     ...    ...   ...        ...
1000967  2021-02-05     Borden  Texas     17     2.0      2  2021     11.765
1004213  2021-02-06     Borden  Texas     17     2.0      2  2021     11.765
1007459  2021-02-07     Borden  Texas     17     2.0      2  2021     11.765
1010705  2021-02-08     Borden  Texas     17     2.0      2  2021     11.765
1013950  2021-02-09     Borden  Texas     19     2.0      2  2021     10.526

[2392 rows x 8 columns]

In [418]:
covid_data[(covid_data['Cases'] >= 20000) | (covid_data['Deaths'] >= 500)]

,Date,County,State,Cases,Deaths,Month,Year,D/C Ratio
11758,2020-03-25,New York City,New York,20061,330.0,3,2020,1.645
13361,2020-03-26,New York City,New York,23182,435.0,3,2020,1.876
15095,2020-03-27,New York City,New York,25509,560.0,3,2020,2.195
16925,2020-03-28,New York City,New York,30919,825.0,3,2020,2.668
18850,2020-03-29,New York City,New York,33983,991.0,3,2020,2.916
...,...,...,...,...,...,...,...,...
2502804,2022-05-13,Waukesha,Wisconsin,115887,1093.0,5,2022,0.943
2502807,2022-05-13,Winnebago,Wisconsin,53045,382.0,5,2022,0.720
2502808,2022-05-13,Wood,Wisconsin,21477,233.0,5,2022,1.085
2502819,2022-05-13,Laramie,Wyoming,26292,290.0,5,2022,1.103
2502821,2022-05-13,Natrona,Wyoming,22380,273.0,5,2022,1.220

In [427]:
covid_data[covid_data['Deaths'] == covid_data['Deaths'].max()]

,Date,County,State,Cases,Deaths,Month,Year,D/C Ratio
2501455,2022-05-13,New York City,New York,2422658,40267.0,5,2022,1.662

In [438]:
covid_data.sort_values(by = ['Deaths'],ascending= False).head(1)

,Date,County,State,Cases,Deaths,Month,Year,D/C Ratio
2501455,2022-05-13,New York City,New York,2422658,40267.0,5,2022,1.662

##### Coversion from string to datetime

In [430]:
covid_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2502832 entries, 0 to 2502831
Data columns (total 8 columns):
 #   Column     Dtype
---  ------     -----
 0   Date       object
 1   County     object
 2   State      object
 3   Cases      int64
 4   Deaths     float64
 5   Month      int32
 6   Year       int32
 7   D/C Ratio  float64
dtypes: float64(2), int32(2), int64(1), object(3)
memory usage: 133.7+ MB

In [432]:
covid_data['Date'] = pd.to_datetime(covid_data['Date'])

In [434]:
covid_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2502832 entries, 0 to 2502831
Data columns (total 8 columns):
 #   Column     Dtype
---  ------     -----
 0   Date       datetime64[ns]
 1   County     object
 2   State      object
 3   Cases      int64
 4   Deaths     float64
 5   Month      int32
 6   Year       int32
 7   D/C Ratio  float64
dtypes: datetime64[ns](1), float64(2), int32(2), int64(1), object(2)
memory usage: 133.7+ MB

##### Appending

In [446]:
Texas_covid_data.head(3)

           Date County  State  Cases  Deaths
143  2020-02-12  Bexar  Texas      1     0.0
154  2020-02-13  Bexar  Texas      2     0.0
165  2020-02-14  Bexar  Texas      2     0.0

In [442]:
Was_covid_data = covid_data[covid_data['State'] == 'Washington']

In [448]:
Was_covid_data.head(3)

        Date     County       State  Cases  Deaths  Month  Year  D/C Ratio
0 2020-01-21  Snohomish  Washington      1     0.0      1  2020        0.0
1 2020-01-22  Snohomish  Washington      1     0.0      1  2020        0.0
2 2020-01-23  Snohomish  Washington      1     0.0      1  2020        0.0

In [464]:
Appended_df = pd.concat([Texas_covid_data,Was_covid_data],ignore_index=True)

In [462]:
Appended_df

,Date,County,State,Cases,Deaths,Month,Year,D/C Ratio
0,2020-02-12,Bexar,Texas,1,0.0,NaN,NaN,NaN
1,2020-02-13,Bexar,Texas,2,0.0,NaN,NaN,NaN
2,2020-02-14,Bexar,Texas,2,0.0,NaN,NaN,NaN
3,2020-02-15,Bexar,Texas,2,0.0,NaN,NaN,NaN
4,2020-02-16,Bexar,Texas,2,0.0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...
224407,2022-05-13 00:00:00,Wahkiakum,Washington,537,7.0,5.0,2022.0,1.304
224408,2022-05-13 00:00:00,Walla Walla,Washington,16305,142.0,5.0,2022.0,0.871
224409,2022-05-13 00:00:00,Whatcom,Washington,39343,301.0,5.0,2022.0,0.765
224410,2022-05-13 00:00:00,Whitman,Washington,8806,90.0,5.0,2022.0,1.022
224411,2022-05-13 00:00:00,Yakima,Washington,73887,790.0,5.0,2022.0,1.069

In [468]:
covid_data

,Date,County,State,Cases,Deaths,Month,Year,D/C Ratio
0,2020-01-21,Snohomish,Washington,1,0.0,1,2020,0.000
1,2020-01-22,Snohomish,Washington,1,0.0,1,2020,0.000
2,2020-01-23,Snohomish,Washington,1,0.0,1,2020,0.000
3,2020-01-24,Cook,Illinois,1,0.0,1,2020,0.000
4,2020-01-24,Snohomish,Washington,1,0.0,1,2020,0.000
...,...,...,...,...,...,...,...,...
2502827,2022-05-13,Sweetwater,Wyoming,11088,126.0,5,2022,1.136
2502828,2022-05-13,Teton,Wyoming,10074,16.0,5,2022,0.159
2502829,2022-05-13,Uinta,Wyoming,5643,39.0,5,2022,0.691
2502830,2022-05-13,Washakie,Wyoming,2358,44.0,5,2022,1.866
2502831,2022-05-13,Weston,Wyoming,1588,18.0,5,2022,1.134

In [474]:
Date_wise = covid_data.groupby(['Date']).sum().drop(['County','State','Month','Year','D/C Ratio'],axis=1)

In [476]:
Date_wise

               Cases    Deaths
Date
2020-01-21         1       0.0
2020-01-22         1       0.0
2020-01-23         1       0.0
2020-01-24         2       0.0
2020-01-25         3       0.0
...              ...       ...
2022-05-09  81890512  996612.0
2022-05-10  81983925  996916.0
2022-05-11  82145460  997481.0
2022-05-12  82260817  997853.0
2022-05-13  82367095  998279.0

[844 rows x 2 columns]

In [480]:
County_wise = covid_data.drop(['Date','State','Month','Year','D/C Ratio'],axis=1).groupby(['County']).sum()

In [482]:
County_wise

                              Cases    Deaths
County
Abbeville                   1990471   26081.0
Acadia                      5484277  132996.0
Accomack                    2306179   36094.0
Ada                        40965355  360167.0
Adair                       6643484  104198.0
...                             ...       ...
Yukon-Koyukuk Census Area    353575    3210.0
Yuma                       25244087  525248.0
Zapata                      1199444   20732.0
Zavala                      1331119   27227.0
Ziebach                      233062    5173.0

[1932 rows x 2 columns]

In [484]:
State_wise = covid_data.drop(['Date','County','Month','Year','D/C Ratio'],axis=1).groupby(['State']).sum()

In [492]:
State_wise.head(6)

                     Cases      Deaths
State
Alabama          423771271   7294870.0
Alaska            65140447    325853.0
American Samoa      268683       624.0
Arizona          650613676  11347967.0
Arkansas         268300581   4056767.0
California      2810120533  36935467.0

In [494]:
Year_wise = covid_data.drop(['Date','County','Month','State','D/C Ratio'],axis=1).groupby(['Year']).sum()

In [496]:
Year_wise

            Cases       Deaths
Year
2020   1727289223   46413785.0
2021  13229129861  223987036.0
2022  10156509144  124772370.0

##### Pivot_Table

In [519]:
State_Year_Wise = covid_data.pivot_table(values= ['Cases','Deaths'],index=['State','Year'],aggfunc='sum')

In [517]:
covid_data.pivot_table(values= ['Cases','Deaths'],index=['Year','State'],aggfunc='sum')

                        Cases     Deaths
Year State
2020 Alabama         32236000   526388.0
     Alaska           2854127    13147.0
     Arizona         47147078  1048821.0
     Arkansas        18406368   285868.0
     California     174969176  3065113.0
...                       ...        ...
2022 Virginia       211184381  2446583.0
     Washington     181149508  1568129.0
     West Virginia   62165333   839208.0
     Wisconsin      202684699  1773939.0
     Wyoming         19834308   228657.0

[167 rows x 2 columns]

In [530]:
Year_month_wise = covid_data.pivot_table(values=['Cases','Deaths'],index=['Year','Month'],aggfunc='sum')

In [532]:
Year_month_wise

                 Cases      Deaths
Year Month
2020 1              41         0.0
     2             736         1.0
     3         1095533     20269.0
     4        19611708    990492.0
     5        45452114   2695246.0
     6        65288844   3498937.0
     7       111626136   4307836.0
     8       166758528   5259820.0
     9       199758786   5879775.0
     10      252794114   6774225.0
     11      338932078   7449571.0
     12      525970605   9537613.0
2021 1       729984096  12216246.0
     2       773617710  13511297.0
     3       916857453  16598944.0
     4       944997168  16938795.0
     5      1020501942  18153720.0
     6      1003878600  18001792.0
     7      1059339596  18857887.0
     8      1148978762  19355736.0
     9      1247666211  20063233.0
     10     1390097002  22446279.0
     11     1417533896  22952318.0
     12     1575677425  24890789.0
2022 1      2037666117  26440378.0
     2      2173725838  25818487.0
     3      2465286532  29979138.0
     4      2416628654  29590230.0
     5      1063202003  12944137.0

In [534]:
covid_data.pivot_table(values=['Cases','Deaths'],index=['Year','Month'],aggfunc=['sum','mean'])

                   sum                      mean
                 Cases      Deaths         Cases      Deaths
Year Month
2020 1              41         0.0      1.051282    0.000000
     2             736         1.0      2.050139    0.002786
     3         1095533     20269.0     46.654161    0.863172
     4        19611708    990492.0    245.176997   12.382698
     5        45452114   2695246.0    488.837535   29.647083
     6        65288844   3498937.0    699.181229   38.433386
     7       111626136   4307836.0   1128.368757   44.636625
     8       166758528   5259820.0   1667.835455   53.909826
     9       199758786   5879775.0   2057.120940   62.045196
     10      252794114   6774225.0   2514.188529   69.033874
     11      338932078   7449571.0   3481.940394   78.416537
     12      525970605   9537613.0   5228.180124   97.139207
2021 1       729984096  12216246.0   7255.798265  124.415627
     2       773617710  13511297.0   8512.518816  152.332653
     3       916857453  16598944.0   9109.725702  168.983834
     4       944997168  16938795.0   9699.640425  178.141840
     5      1020501942  18153720.0  10139.921126  184.819596
     6      1003878600  18001792.0  10310.466800  189.442694
     7      1059339596  18857887.0  10524.147072  191.957319
     8      1148978762  19355736.0  11409.804888  196.938799
     9      1247666211  20063233.0  12801.565851  210.921059
     10     1390097002  22446279.0  13800.913398  228.328390
     11     1417533896  22952318.0  14538.361856  241.189517
     12     1575677425  24890789.0  15638.236418  253.109508
2022 1      2037666117  26440378.0  20208.726652  268.667534
     2      2173725838  25818487.0  23873.192954  290.522983
     3      2465286532  29979138.0  24448.960985  304.616505
     4      2416628654  29590230.0  24745.580581  310.433702
     5      1063202003  12944137.0  25108.088393  313.182284

##### Duplicates

In [555]:
covid_data.duplicated()

0          False
1          False
2          False
3          False
4          False
           ...
2502827    False
2502828    False
2502829    False
2502830    False
2502831    False
Length: 2502832, dtype: bool

In [557]:
covid_data.duplicated().sum()

0

In [559]:
covid_data.drop_duplicates(inplace= True)

In [561]:
covid_data

,Date,County,State,Cases,Deaths,Month,Year,D/C Ratio
0,2020-01-21,Snohomish,Washington,1,0.0,1,2020,0.000
1,2020-01-22,Snohomish,Washington,1,0.0,1,2020,0.000
2,2020-01-23,Snohomish,Washington,1,0.0,1,2020,0.000
3,2020-01-24,Cook,Illinois,1,0.0,1,2020,0.000
4,2020-01-24,Snohomish,Washington,1,0.0,1,2020,0.000
...,...,...,...,...,...,...,...,...
2502827,2022-05-13,Sweetwater,Wyoming,11088,126.0,5,2022,1.136
2502828,2022-05-13,Teton,Wyoming,10074,16.0,5,2022,0.159
2502829,2022-05-13,Uinta,Wyoming,5643,39.0,5,2022,0.691
2502830,2022-05-13,Washakie,Wyoming,2358,44.0,5,2022,1.866
2502831,2022-05-13,Weston,Wyoming,1588,18.0,5,2022,1.134

In [ ]:
# EDA
# Clustering
# Treating Null Values and Outliers
# Ml Model Overview